body {
  text-align: center;
  background-image: url("images/y2k.jpg")
}

h1, h2 {
  color : rgb(221, 5, 128);
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 25px;
}

p {
  color: rgb(0, 0, 0);
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 15px;
}

a {
  color: rgb(240, 126, 189);
  text-decoration: none;
  font-size: 25px;
  display: inline;
}

a:hover {
  color: rgb(221, 5, 128)
}

.container {
  margin: 30px auto;
  width: 700px;
}

.card {
  margin: 15px;
  background-color: white;
  padding: 30px;
  /* width: 600px; */
  border-radius : 5px;
}

img {
  height: 200px;
  border-radius: 50%;
  border: 2px solid rgb(221, 5, 128) ;
}

li {
  display: inline
}

ul {
  padding: 0
}

.button-pink {
background-color:rgb(221, 5, 128);
color: white;
margin: auto;
padding: 8px 15px;
border-radius: 4px;
font-size: 15px
}

#meme {
  height: 200px;
  border-radius: 5px;
  border: none;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 400px;
  }
}


@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 100%;
  }
}
